.container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ecf2f8;
  padding-left: 150px;
  margin-top: 27px;
}

.box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-location {
  margin-left: 40px;
}

.phone-wrapper,
.location-wrapper {
  display: flex;
  align-items: center;
  /* width: 314px; */
  flex-shrink: 0; /* Prevent shrinking of the wrappers */
}

.phone-number,
.location {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0.07em;
  color: #053354;
  font-family: "FiraGO", sans-serif;
  margin-left: 20px;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1050px;
  margin-right: 149px;
}

.input-byname {
  max-width: 480px;
  width: 40%;
  height: 50px;
  border-radius: 50px;
  background-color: #ffffff;
  flex-shrink: 1; /* Allow inputs to shrink */
  display: flex;
  padding-left: 30px;
  align-items: center;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #0533544d;
}

.input-byname:active {
  border: 1px solid #18a4e180;
}

.input-byposition:active {
  border: 1px solid #18a4e180;
}

.input-byposition::placeholder,
.input-byname::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #0533544d;
}

.input-byposition {
  max-width: 480px;
  width: 40%;
  height: 50px;
  border-radius: 50px;
  background-color: #ffffff;
  display: flex;
  padding-left: 30px;
  flex-shrink: 1; /* Allow inputs to shrink */
  align-items: center;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #0533544d;
  margin-left: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #053354;
  margin-left: 20px;
}

@media (max-width: 1919px) {
  .phone-number {
    font-size: 12px;
  }
  .location {
    font-size: 12px;
  }

  .input-byposition::placeholder {
    font-size: 12px;
  }

  .input-byname::placeholder {
    font-size: 12px;
  }

  .input-byname {
    width: 30%;
  }

  .input-byposition {
    width: 30%;
  }
}
