header {
  display: flex;
  padding-left: 150px;
  padding-right: 149px;
  width: 100%;
  height: 66px;
  align-items: center;
  justify-content: flex-start;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0.07em;
  color: #ff2c52;
  font-family: "FiraGO", sans-serif;
}

.nav-list {
  display: flex;
  gap: 30px;
}

nav {
  margin-left: 149px;
}

.autorization {
  margin-left: 47px;
}
