.container {
  height: 300px;
  display: flex;
  flex-direction: column;
  height: 335px;
}

.blue-container {
  background-color: #053354;
  display: flex;
  align-items: flex-start;
  height: 300px;
}

.copyright {
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.07em;
  color: #053354;
  margin-left: 150px;
  margin-top: 8px;
}

.footer-title-wrapper {
  display: flex;
  align-items: center;
  margin-top: 63px;
  margin-left: 146px;
}

.title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0.07em;
  color: white;
  font-family: "FiraGO", sans-serif;
}

.title-list {
  display: flex;
  list-style-type: none;
  font-family: "firago", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.07em;
  list-style: 19.2px;
  color: white;
}

.navigation-list-wrapper {
  margin-top: 55px;
  margin-left: 246px;
}

.title-list li:not(:first-child) {
  margin-left: 262px;
}

.line {
  border-bottom: 1px solid #ecf2f84d;
  margin-top: 20px;
}
