.container {
  display: flex;
  flex-direction: column;
  height: 335px;
  width: 100%;
  background-color: #ecf2f84d;
}

.blue-container {
  background-color: #053354;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  height: 300px;
}

.copyright {
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.07em;
  color: #053354;
  margin-left: 150px;
  margin-top: 8px;
}

.footer-title-wrapper {
  display: flex;
  align-items: center;
  margin-top: 63px;
  margin-left: 146px;
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0.07em;
  color: white;
  font-family: "FiraGO", sans-serif;
  position: absolute;
  left: 70px;
}

.title-list {
  display: flex;
  list-style-type: none;
  font-family: "firago", sans-serif;
  font-weight: 500;
  font-size: 16px;
  justify-content: space-between;
  letter-spacing: 0.07em;
  list-style: 19.2px;
  color: white;
}

.second {
  margin-left: 262px;
}

.third {
  margin-left: 234px;
}

.fourth {
  margin-left: 237px;
}

.navigation-list-wrapper {
  margin-top: 55px;
  margin-left: 246px;
  margin-right: 149px;
}

.line {
  border-bottom: 1px solid #ecf2f84d;
  margin-top: 20px;
}

.navigation-many {
  display: flex;
  list-style-type: none;
}

.navigation-many ul {
  list-style-type: none;
  margin-top: 20px;
}

.navigation-many ul:nth-child(2) {
  margin-left: 221px;
}

.navigation-many ul:nth-child(3) {
  margin-left: 286px;
}

.navigation-many ul:nth-child(4) {
  margin-left: 136px;
}

#alter-one {
  line-height: 20px;
}
#alter-two {
  line-height: 20px;
  margin-top: 10px;
}
#alter-three {
  line-height: 20px;
  margin-top: 10px;
}
#alter-four {
  line-height: 5px;
  margin-top: 10px;
}

.navigation-many ul li {
  font-family: "firago", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.07em;
  text-align: left;
  color: white;
  cursor: pointer;
}
