<div class="main-wrapper">
  <h1>რეგისტრაცია</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="input-wrapper one">
        <label for="name">სახელი</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="( მინიმუმ 5 სიმბოლო )"
        />
        <span
          class="warning"
          *ngIf="
            registrationForm.get('name')?.invalid &&
            registrationForm.get('name')?.touched
          "
        >
          *გთხოვთ, მიუთითოთ სახელი
        </span>

        <label for="last-name" class="second-label">გვარი</label>
        <input id="last-name" type="text" formControlName="surname" />
        <span
          class="warning surname"
          *ngIf="
            registrationForm.get('surname')?.invalid &&
            registrationForm.get('surname')?.touched
          "
        >
          *გთხოვთ, მიუთითოთ გვარი
        </span>
      </div>

      <div class="input-wrapper two">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        <span
          class="warning"
          *ngIf="
            registrationForm.get('email')?.invalid &&
            registrationForm.get('email')?.touched
          "
        >
          *გთხოვთ, მიუთითოთ მეილი
        </span>
        <img src="./assets/mail-icon.svg" class="mail" alt="mail logo" />

        <div class="activation-code-wrapper second-label">
          <label for="activation-code">აქტივაციის კოდი</label>
          <label for="duration" class="duration">ვადა 30 წთ</label>
          <span
            class="warning activation-code"
            *ngIf="
              registrationForm.get('activationCode')?.touched &&
              registrationForm.get('activationCode')?.hasError('required')
            "
          >
            *გთხოვთ, მიუთითოთ აქტივაციის კოდი
          </span>
        </div>
        <input
          id="activation-code"
          type="text"
          formControlName="activationCode"
        />
      </div>

      <div class="input-wrapper three">
        <label for="personal-id">პირადი ნომერი</label>
        <input
          id="personal-id"
          type="text"
          formControlName="private_number"
          placeholder="00000000000"
        />
        <span
          class="warning"
          *ngIf="
            registrationForm.get('private_number')?.invalid &&
            registrationForm.get('private_number')?.touched
          "
        >
          *გთხოვთ, მიუთითოთ პირადი ნომერი
        </span>

        <label for="password" class="second-label">პაროლი</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
        />
        <span
          class="warning id"
          *ngIf="
            registrationForm.get('password')?.touched &&
            registrationForm.get('password')?.hasError('required')
          "
        >
          *გთხოვთ, მიუთითოთ პაროლი
        </span>
        <span
          class="warning id"
          *ngIf="
            registrationForm.get('password')?.touched &&
            registrationForm.get('password')?.hasError('minlength')
          "
        >
          *პაროლი უნდა შეიცავდეს მინიმუმ 8 სიმბოლოს
        </span>
      </div>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">
      რეგისტრაცია
    </button>
  </form>
</div>
