<div class="main-container">
  <button (click)="goBack()" class="goback">უკან დაბრუნება</button>
  <h1 class="heading">კატეგორიები</h1>
  <div class="table-container">
    <table>
      <thead>
        <th class="first">სახელი</th>
        <th>კატეგორია</th>
        <th>ფოტოსურათი</th>
        <th>რეიტინგი</th>
        <th class="last"></th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.firstName }}</td>
          <td>{{ user.category }}</td>
          <td>
            <img [src]="user.photoUrl" alt="User Photo" class="user-photo" />
          </td>
          <td>
            <span *ngFor="let star of user.rating; let i = index" class="star">
              &#9733;
            </span>
          </td>
          <td class="buttons">
            <button (click)="editUser(user)" class="edit-btn">
              <img src="assets/edit-green.svg" alt="edit icon" />
            </button>
            <button (click)="deleteUser(user)" class="delete-btn">
              <img src="assets/bin.svg" alt="delete icon" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
