<div class="main-wrapper">
  <h1>რეგისტრაცია</h1>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="input-wrapper one">
        <label for="name">სახელი</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="( მინიმუმ 5 სიმბოლო )"
        />
        <span class="warning">*გთხოვთ, მიუთითოთ სახელი</span>

        <label for="last-name" class="second-label">გვარი</label>
        <input id="last-name" type="text" formControlName="surname" />
        <span class="warning surname">*გთხოვთ, მიუთითოთ გვარი</span>

        <label for="photo" class="third-label"> ფოტოსურათი</label>
        <input id="photo" formControlName="photo" />
        <img src="./assets/upload.svg" class="upload" alt="upload logo" />

        <span class="warning photo">*გთხოვთ, ატვირთოთ ფოტოსურათი</span>
      </div>

      <div class="input-wrapper two">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
        <span class="warning">*გთხოვთ, მიუთითოთ მეილი</span>
        <img src="./assets/mail-icon.svg" class="mail" alt="mail logo" />

        <!-- <div class="activation-code-wrapper second-label">
          <label for="activation-code">აქტივაციის კოდი</label>
          <label for="duration" class="duration">ვადა 30 წთ</label>
        </div>

        <input
          id="activation-code"
          type="text"
          formControlName="activationCode"
        />
        <span class="warning activation-code"
          >*ბმულის მოქედების ვადა ამოიწურა</span
        > -->

        <label for="password" class="second-label">პაროლი</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
        />
        <span class="warning id">*გთხოვთ, მიუთითოთ პაროლი</span>

        <label for="cv" class="third-label">CV</label>
        <input id="cv" formControlName="cv" />
        <img src="./assets/cv.svg" class="cv" alt="cv logo" />

        <span class="warning photo">*გთხოვთ, ატვირთოთ CV</span>
      </div>

      <div class="input-wrapper three">
        <label for="personal-id">პირადი ნომერი</label>
        <input
          id="personal-id"
          type="text"
          formControlName="private_number"
          placeholder="00000000000"
        />
        <span class="warning">*გთხოვთ, მიუთითოთ პირადი ნომერი</span>

        <label for="category" class="second-label">კატეგორია</label>
        <input
          id="category"
          type="category"
          formControlName="category"
          placeholder="ანესთეზიოლოგი / თერაპევტი ან სხვა..."
        />
        <span class="warning id">*გთხოვთ, მიუთითოთ კატეგორია</span>
      </div>
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">
      რეგისტრაცია
    </button>
  </form>
</div>
