.wrapper {
  width: 1208px;
  height: 250px;
  border: 1px solid #ecf2f8;
  box-shadow: 0px 4px 30px 0px #0533540d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 73px;
  margin-left: 62px;
}

.info-wrapper {
  margin-left: 40px;
}

.stars {
  margin-top: 16px;
}

.vertical-line {
  height: 140px;
  width: 1px;
  background-color: #ecf2f8;
  margin-left: 36px;
}

.descriptions {
  margin-left: 51px;
}

span {
  color: #18a4e1;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.position-two {
  margin-top: 17px;
}

.position-three {
  margin-top: 23px;
}

.position-one,
.position-two,
.position-three {
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #053354;
}

.avatar {
  margin-left: 48px;
}

.calendar {
  width: 1111px;
  height: 700px;
  margin-top: 67px;
  margin-left: 76px;
  position: relative;
}

.arrows-button {
  display: flex;
  margin-left: 43px;
}

.year-button-wrapper {
  display: flex;
  align-items: center;
}

.leftarrow-button {
  display: flex;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0px #0533540d;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.rightarrow-button {
  display: flex;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 0px #0533540d;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.months {
  margin-left: 10px;
  color: #18a4e1;
  font-family: "FiraGO", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  border: 1px solid #18a4e14d;
  border-radius: 50px;
  width: 140px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year {
  color: #053354;
}

.calendar-box {
  margin-top: 30px;
  display: grid;
  width: 830px;
  grid-template-columns: 100px repeat(7, 1fr);
  grid-template-rows: 50px repeat(9, auto);
}

.header {
  background-color: #f0f0f0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  text-align: center;
}

.weekdays {
  grid-column: 2 / span 7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf2f8;
  padding: 10px;
  font-weight: bold;
  border-radius: 0 10px 0 0;
}

.weekdays div {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  color: #053354;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}

.weekdays div span {
  color: #18a4e1;
  font-family: "FiraGO", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
}

.empty {
  background-color: #ecf2f8;
  border: none;
  border-radius: 10px 0 0 0;
}

.time-column {
  display: flex;
  flex-direction: column;
}

.time {
  border: 1px solid #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #053354;
}

.time-slots {
  display: flex;
  flex-direction: column;
}

.cube {
  background-color: #fff;
  border: 1px solid #ecf2f8;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #0533544d;
}

.cube:hover {
  background-color: #e6f7ff;
}

.plus {
  color: green;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  font-family: "FiraGO", sans-serif;
  margin-right: 5px;
}

.divider {
  display: flex;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 51px;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf2f8;
  border-radius: 50px;
  border: none;
  color: #18a4e1;
  font-family: "FiraGO", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  width: 230px;
  height: 50px;
  margin-top: 30px;
}

.dlt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff93a6;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-family: "FiraGO", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  width: 170px;
  height: 50px;
  margin-top: 20px;
}

.left-click-arrow,
.right-click-arrow {
  font-size: 18px;
  font-weight: 400;
  color: #053354;
  margin-left: 10px;
  width: 21px;
  height: 21px;
  font-family: "FiraGO", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.right-click-arrow {
  padding-right: 5px;
}

.left-click-arrow {
  padding-left: 5px;
}

.left-click-arrow:hover,
.right-click-arrow:hover {
  cursor: pointer;
  background-color: white;
}

.inputDescription {
  position: absolute;
  width: 420px;
  height: 263px;
  border-radius: 10px;
  box-shadow: 0px 4px 30px 0px #05335433;
  background-color: white;
  padding-top: 25px;
  padding-left: 31px;
}

.greenText,
.text {
  color: #3acf99;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}

.text {
  color: #053354;
  margin-top: 10px;
}

.descInput {
  width: 357px;
  height: 90px;
  border-radius: 10px;
  border: 1px solid #ecf2f8;
  margin-top: 15px;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #0533544d;
}

.descInput {
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #0533544d;
}

.buttonBook {
  width: 170px;
  height: 50px;
  background-color: #3acf99;
  border-radius: 50px;
  color: white;
  margin-top: 13px;
}

.attention {
  width: 320px;
  height: 78px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 30px 0px #05335433;
}

.redText,
.TextSecond {
  color: #ff2c52;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}

.TextSecond {
  color: #053354;
  margin-top: 8px;
}

.image-edit {
  margin-right: 19px;
}

.image-dlt {
  margin-right: 12px;
}
