@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:200,400,500,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a,
blockquote,
button,
input,
textarea,
select,
label,
table,
th,
td,
nav,
form {
  font-family: "FiraGO", sans-serif;
}

body {
  line-height: 1.6;
  display: flex;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

input,
select,
textarea {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}

a,
button,
link {
  cursor: pointer;
}
